.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #51c611 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #51c611 !important;
  border-color: #51c611 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #30760a !important;
  border-color: #30760a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #30760a !important;
  border-color: #30760a !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #51c611;
  color: #51c611;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #30760a !important;
  background-color: transparent!important;
  border-color: #30760a !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #51c611 !important;
  border-color: #51c611 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #51c611 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #2b6809 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #51c611;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #51c611;
  border-color: #51c611;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #51c611;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #97f265;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #51c611 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #51c611;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #51c611;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #51c611;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #51c611;
  border-bottom-color: #51c611;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #51c611 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2351c611' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tejGIcRxP4 .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 77px;
}
@media (min-width: 992px) {
  .cid-tejGIcRxP4 .navbar .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 2.5385em 0.235em 3.5385em !important;
    margin: 0 !important;
  }
}
.cid-tejGIcRxP4 .menu-logo {
  display: flex;
  position: relative;
  -webkit-align-items: center;
  align-items: center;
  margin-right: auto;
}
.cid-tejGIcRxP4 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0.5rem 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-tejGIcRxP4 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-tejGIcRxP4 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-tejGIcRxP4 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-tejGIcRxP4 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-tejGIcRxP4 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-tejGIcRxP4 .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-tejGIcRxP4 a {
  font-style: normal;
}
.cid-tejGIcRxP4 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
}
.cid-tejGIcRxP4 .nav-item a {
  padding: 0.4rem 0 !important;
}
.cid-tejGIcRxP4 .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-tejGIcRxP4 .dropdown-item:hover:before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  width: 16px;
}
.cid-tejGIcRxP4 .content-text {
  margin-bottom: 0;
}
.cid-tejGIcRxP4 .navbar-nav {
  position: relative;
  min-height: 60px;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-tejGIcRxP4 .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #51c611;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-tejGIcRxP4 .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
  .cid-tejGIcRxP4 .navbar-nav .nav-item a {
    margin: 0 1.3rem !important;
  }
}
@media (max-width: 991px) {
  .cid-tejGIcRxP4 .navbar-nav .nav-item a {
    margin: 0 !important;
  }
}
.cid-tejGIcRxP4 .navbar-nav .nav-item span {
  padding-right: 0.1rem;
}
.cid-tejGIcRxP4 .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-tejGIcRxP4 .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-tejGIcRxP4 .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-tejGIcRxP4 .navbar-buttons.mbr-section-btn {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-tejGIcRxP4 .nav-dropdown .link {
  font-weight: 400;
}
.cid-tejGIcRxP4 .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-tejGIcRxP4 .content-right-side {
  text-align: center;
}
@media (max-width: 575px) {
  .cid-tejGIcRxP4 .content-right-side {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
  }
  .cid-tejGIcRxP4 .content-right-side .content-link {
    font-size: 0.8rem;
    margin: 0;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
.cid-tejGIcRxP4 .menu-content-top {
  display: none;
  padding: 1rem 0;
  transition: height 0.3s ease-in-out;
}
.cid-tejGIcRxP4 .menu-content-top.show {
  display: block;
}
.cid-tejGIcRxP4 .content-right-side .content-link {
  margin-left: 1rem;
}
.cid-tejGIcRxP4 .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
@media (max-width: 991px) {
  .cid-tejGIcRxP4 .content-left-side {
    text-align: center;
    padding-bottom: 1rem;
  }
  .cid-tejGIcRxP4 .dropdown-item {
    padding: 0.235em 0 !important;
    margin: 0 !important;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
  }
  .cid-tejGIcRxP4 .dropdown-item:before {
    display: none;
  }
  .cid-tejGIcRxP4 .menu-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cid-tejGIcRxP4 .menu-bottom {
    width: 100%;
    padding: 0 1rem;
    display: block;
  }
  .cid-tejGIcRxP4 img {
    height: 3.8rem !important;
  }
  .cid-tejGIcRxP4 .btn {
    display: flex;
  }
  .cid-tejGIcRxP4 button.navbar-toggler {
    display: block;
    align-self: center;
  }
  .cid-tejGIcRxP4 .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-tejGIcRxP4 .navbar-toggleable-sm {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-tejGIcRxP4 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-tejGIcRxP4 .navbar-collapse.collapsing,
  .cid-tejGIcRxP4 .navbar-collapse.show {
    display: block !important;
  }
  .cid-tejGIcRxP4 .navbar-collapse.collapsing .navbar-nav,
  .cid-tejGIcRxP4 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-tejGIcRxP4 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-tejGIcRxP4 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
    padding: 0.5rem 0;
  }
  .cid-tejGIcRxP4 .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-tejGIcRxP4 .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-tejGIcRxP4 .navbar-collapse.collapsing .navbar-buttons,
  .cid-tejGIcRxP4 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-tejGIcRxP4 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-tejGIcRxP4 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-tejGIcRxP4 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity, padding, height;
  }
  .cid-tejGIcRxP4 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-tejGIcRxP4 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-tejGIcRxP4 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 992px) {
  .cid-tejGIcRxP4 .navbar .menu-content-top {
    display: block;
  }
  .cid-tejGIcRxP4 .menu-content-top .row {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .cid-tejGIcRxP4 .content-right-side {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-basis: 70%;
    flex-basis: 70%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: right;
  }
  .cid-tejGIcRxP4 .menu-content-top {
    border-bottom: 1px solid #e0e0e0;
  }
  .cid-tejGIcRxP4 .menu-bottom {
    display: flex;
  }
  .cid-tejGIcRxP4 .navbar {
    display: block;
    padding: 0;
  }
  .cid-tejGIcRxP4 .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-tejGIcRxP4 .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 101;
    min-height: 76px;
  }
  .cid-tejGIcRxP4 .navbar-toggler {
    display: none;
  }
}
.cid-tejGIcRxP4 .navbar-short .menu-content-top {
  border: none;
}
.cid-tejGIcRxP4 .btn {
  padding: 0.7rem 1.5rem;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-tejGIcRxP4 .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-tejGIcRxP4 .navbar-toggleable-sm .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 5rem;
  width: 100%;
}
.cid-tejGIcRxP4 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-tejGIcRxP4 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-tejGIcRxP4 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-tejGIcRxP4 .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-tejGIcRxP4 .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-tejGIcRxP4 .dropdown .dropdown-menu .dropdown-item {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-tejGIcRxP4 .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-tejGIcRxP4 .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-tejGIcRxP4 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-tejGIcRxP4 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-tejGIcRxP4 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-tejGIcRxP4 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tejGIcRxP4 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
}
.cid-tejGIcRxP4 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-tejGIcRxP4 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-tejGIcRxP4 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-tejGIcRxP4 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-tejGIcRxP4 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-tejGIcRxP4 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
}
.cid-tejGIcRxP4 button.navbar-toggler:focus {
  outline: none;
}
.cid-tejGIcRxP4 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tejGIcRxP4 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-tejGIcRxP4 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-tejGIcRxP4 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-tejGIcRxP4 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-tejGIcRxP4 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-tejGIcRxP4 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-tejGIcRxP4 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-tejGIcRxP4 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-tejGIcRxP4 .collapsed.navbar {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-tejGIcRxP4 .collapsed .menu-bottom {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-tejGIcRxP4 .collapsed .menu-logo {
  margin-right: 0;
}
.cid-tejGIcRxP4 .collapsed .btn {
  display: flex;
}
.cid-tejGIcRxP4 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-tejGIcRxP4 .collapsed .navbar-collapse.collapsing,
.cid-tejGIcRxP4 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-tejGIcRxP4 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-tejGIcRxP4 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-tejGIcRxP4 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-tejGIcRxP4 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-tejGIcRxP4 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-tejGIcRxP4 .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-tejGIcRxP4 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-tejGIcRxP4 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-tejGIcRxP4 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-tejGIcRxP4 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-tejGIcRxP4 .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 3.8rem  - 1rem);
  }
  .cid-tejGIcRxP4 .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-tejGIcRxP4 .collapsed button.navbar-toggler {
  display: block;
  -webkit-align-self: center;
  align-self: center;
}
.cid-tejGIcRxP4 .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-tejGIcRxP4 .collapsed .navbar-toggleable-sm {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-tejGIcRxP4 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .25s;
  transition-property: opacity, padding, height;
}
.cid-tejGIcRxP4 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-tejGIcRxP4 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-tejGIcRxP4 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-tejGIcRxP4 .collapsed .dropdown-item:before {
  display: none;
}
.cid-tejGIcRxP4 .navbar-dropdown {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-tejGIcRxP4 .navbar-collapse {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.cid-tejGIcRxP4 .nav-link:focus {
  outline: none;
}
.cid-tejGIcRxP4 .navbar-toggler {
  position: relative;
}
.cid-tejGIcRxP4 .dropdown-item.active,
.cid-tejGIcRxP4 .dropdown-item:active {
  background-color: #ffffff;
  color: auto;
}
.cid-tejGIcRxP4 .nav-link:hover,
.cid-tejGIcRxP4 .dropdown-item:hover {
  color: #4284df;
}
.cid-tejCeOGTBc .modal-body .close {
  background: #1b1b1b;
}
.cid-tejCeOGTBc .modal-body .close span {
  font-style: normal;
}
.cid-tejCeOGTBc .carousel-inner > .active,
.cid-tejCeOGTBc .carousel-inner > .next,
.cid-tejCeOGTBc .carousel-inner > .prev {
  display: flex;
}
.cid-tejCeOGTBc .carousel-control .icon-next,
.cid-tejCeOGTBc .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-tejCeOGTBc .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-tejCeOGTBc .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tejCeOGTBc .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-tejCeOGTBc .boxed-slider > div {
  position: relative;
}
.cid-tejCeOGTBc .container img {
  width: 100%;
}
.cid-tejCeOGTBc .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-tejCeOGTBc .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-tejCeOGTBc .mbr-table-cell {
  padding: 0;
}
.cid-tejCeOGTBc .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-tejCeOGTBc .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-tejCeOGTBc .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-tejCeOGTBc .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
.cid-tejCeOGTBc .carousel-item.active.right,
.cid-tejCeOGTBc .carousel-item.next {
  left: 0;
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
}
.cid-tejCeOGTBc .carousel-item.active.left,
.cid-tejCeOGTBc .carousel-item.prev {
  left: 0;
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
}
.cid-tejCeOGTBc .carousel-item.active,
.cid-tejCeOGTBc .carousel-item.next.left,
.cid-tejCeOGTBc .carousel-item.prev.right {
  left: 0;
  opacity: 1;
}
.cid-tejCeOGTBc .mbr-slider .carousel-control {
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
  z-index: 11;
}
.cid-tejCeOGTBc .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tejCeOGTBc .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tejCeOGTBc .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .cid-tejCeOGTBc .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tejCeOGTBc .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-tejCeOGTBc .mbr-slider .carousel-indicators li {
  max-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-tejCeOGTBc .mbr-slider .carousel-indicators li.active,
.cid-tejCeOGTBc .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-tejCeOGTBc .mbr-slider .carousel-indicators li::after,
.cid-tejCeOGTBc .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-tejCeOGTBc .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-tejCeOGTBc .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-tejCeOGTBc .mbr-slider > .container img {
  width: 100%;
}
.cid-tejCeOGTBc .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-tejCeOGTBc .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-tejCeOGTBc .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tejCeOGTBc .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-tejCeOGTBc .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-tejCeOGTBc .carousel-item .container.container-slide {
  position: initial;
  min-height: 0;
}
.cid-tejCeOGTBc .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-tejCeOGTBc .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-tejCeOGTBc .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-tejCeOGTBc .full-screen .carousel-item .container.container-slide {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-tejCeOGTBc .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-tejCeOGTBc .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-tejCeOGTBc .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-tejCeOGTBc H2 {
  color: #ffffff;
}
.cid-tejMueChQv {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/background7.jpg");
}
.cid-tejMueChQv .mbr-fallback-image.disabled {
  display: none;
}
.cid-tejMueChQv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tejMueChQv .mbr-section-title {
  text-align: right;
}
.cid-tejMueChQv .mbr-text,
.cid-tejMueChQv .mbr-section-btn {
  text-align: center;
}
.cid-tejRIAYDcx {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tejRIAYDcx .mbr-fallback-image.disabled {
  display: none;
}
.cid-tejRIAYDcx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tejQE2aVNE {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-tejQE2aVNE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tejQE2aVNE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tejQE2aVNE .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tejQE2aVNE .icon-box {
  background: #2299aa;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tejQE2aVNE .mbr-iconfont {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tejQE2aVNE .card {
    margin-bottom: 2rem;
  }
  .cid-tejQE2aVNE .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tejTLJDEiV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-tejTLJDEiV .row {
  justify-content: center;
}
.cid-tejTLJDEiV .col-title {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .cid-tejTLJDEiV .col-title {
    margin-bottom: 72px;
  }
}
.cid-tejTLJDEiV .mbr-section-title {
  color: #000000;
}
.cid-tejTLJDEiV .mbr-section-subtitle {
  color: #FEF9EE;
  margin-top: 1rem;
}
.cid-tejTLJDEiV .cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 991px) {
  .cid-tejTLJDEiV .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 639px) {
  .cid-tejTLJDEiV .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tejTLJDEiV .card {
  display: flex;
  width: 100%;
  border-radius: 0.75rem;
  background-color: #40b0bf;
  overflow: hidden;
}
.cid-tejTLJDEiV .card-wrapper {
  display: flex;
  height: 100%;
}
.cid-tejTLJDEiV .card-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 32px;
  height: 100%;
}
.cid-tejTLJDEiV .card-title {
  color: #000000;
  width: 100%;
  margin-bottom: 0;
  text-align: left;
}
.cid-tejTLJDEiV .card-text {
  width: 100%;
  color: #1F1D1A;
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: left;
}
.cid-tejQI07tGv {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-tejQI07tGv .mbr-overlay {
  background: #65c6d4;
  opacity: 0.8;
}
.cid-tejQI07tGv .container {
  padding: 0 5%;
}
.cid-tejQI07tGv img,
.cid-tejQI07tGv .item-img {
  width: 100%;
}
.cid-tejQI07tGv .item:focus,
.cid-tejQI07tGv span:focus {
  outline: none;
}
.cid-tejQI07tGv .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-tejQI07tGv .item-wrapper {
  position: unset;
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tejQI07tGv .mbr-section-title {
  margin-bottom: 4.5rem;
  color: #000000;
}
.cid-tejQI07tGv .mbr-section-subtitle {
  margin: 1rem 0 3rem 0;
  color: #3a3e5e;
}
.cid-tejQJdJgLg {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.cid-tejQJdJgLg .mbr-fallback-image.disabled {
  display: none;
}
.cid-tejQJdJgLg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-tejQJdJgLg .row {
    flex-direction: column-reverse;
  }
  .cid-tejQJdJgLg .row .map-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tejQJdJgLg .google-map {
  height: 100%;
  position: relative;
}
.cid-tejQJdJgLg .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tejQJdJgLg .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tejQJdJgLg .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tejQJdJgLg .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tejQJdJgLg .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-tejQJdJgLg .card-wrapper {
  display: flex;
  border-radius: 4px;
  background: #fafafa;
}
.cid-tejQJdJgLg .card-wrapper:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-tejQJdJgLg .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tejQJdJgLg .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-tejQJdJgLg .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #51c611;
}
.cid-tejQJX25y0 {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tejQJX25y0 .card {
  padding: 30px;
  background-color: #ebeae2;
}
@media (min-width: 992px) {
  .cid-tejQJX25y0 .card {
    padding: 60px;
  }
}
.cid-tejQJX25y0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tejQJX25y0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tejQKEX4g6 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
